@model Bluevolt.POC.Common.IUserDetails
@{
    ViewBag.Title = "User Details";
}

<h2>Details</h2>

<div>
    <h4>UserDetails</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
           User Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>        

        <dt>
          First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
           Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
